*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --primary-color: hsl(257, 40%, 49%);
    --secondary-color: hsl(300, 69%, 71%);
}

body{
    background-image: url(images/bg-desktop.svg);
    background-color: var(--primary-color);
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    padding: 100px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

}
.card-text{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
button{
    height: 60px;
    width: 200px;
    border-radius: 50px;
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
button:hover{
    background-color: var(--secondary-color);
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 60px;
}
p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

img{
    width: 100%;
}
.social-icons{
    display: flex;
    justify-content: end;
    gap: 30px;
}
.btn-shape{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}